@media only screen and (max-width: 768px){

body {
  background-image: url(../imagens/bgcellday.png);
  background-size: 100vh;
  color: #333333;
}

body.modo-escuro {
  background-image: url(../imagens/bgcellnight.jpg);
  background-size: 100vh;
  color: #f5f5f5;
}

.gen2{
    color: black;
}

}
